<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ block('title') }}</title>
    <link rel="stylesheet" href="{{ asset("css/materialize.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body class="blue-grey darken-2">
<nav>
    <div class="nav-wrapper light-blue darken-2">
        <a href="#" class="brand-logo">10Humour</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path("index") }}">Accueil</a></li>
            <li><a href="#">Aléatoire</a></li>
            <li><a href="#">Top</a></li>
            <li><a href="#">Soumettre</a></li>
            {% if app.user %}
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('register') }}">Inscription</a></li>
                <li><a href="{{ path('login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="root">
    {% block body %}{% endblock %}
</div>
<script src="{{ asset("js/jquery.min.js") }}"></script>
<script src="{{ asset("js/materialize.min.js") }}"></script>
{% block javascripts %}{% endblock %}
</body>

</html>
