{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:Default:index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s8 offset-s2">

            {% if app.session.flashbag.has('notice') %}
                <div class="card-panel light-green lighten-3">{{ app.session.flashbag.get('notice')[0] }}</div>
            {% endif %}

            {% if app.session.flashbag.has('errors') %}
                {% for error in app.session.flashbag.get('errors')[0] %}
                    <div class="card-panel red lighten-1">{{ error }}</div>
                {% endfor %}
            {% endif %}

            {% if app.user %}

                <h2>Proposer une image</h2>
                {{ form_start(form, {'attr':{'action': path('post_post')}}) }}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.title) }}
                            {{ form_label(form.title, 'Titre') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Image</span>
                                {{ form_widget(form.image.file) }}
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" />
                            </div>
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn light-blue darken-2" type="submit">Envoyer</button>
                    {{ form_widget(form._token) }}
                </form>
            {% endif %}
            <div class="hidden">
                {{ form_start(voteForm, {'attr': {'data-role': 'voteform'}}) }}
                {{ form_end(voteForm) }}
            </div>
            <br>
            <div class="row">
                {% for post in posts %}
                    <div class="col s6">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset(post.image.uploadDir~"/"~post.image.url) }}">
                                <span class="card-title post-title">{{ post.title }}</span>
                            </div>
                            <div class="card-content">
                                <p>Posté par {{ post.user.username }} le {{ post.datePost|date('d/m/Y à H') }} heures</p>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('comment', {'post': post.id}) }}" class="align-icon">{{ post.comments|length }} commentaire(s)</a>
                                <div class="right">
                                    <div class="voteup">
                                        <a href="javascript:;" data-role="voteup" data-id="{{ post.id }}" class="vote"><i class="material-icons">thumb_up</i></a>
                                        <span class="scoreup">{{ post.upvotes }}</span>
                                    </div>
                                    <div class="votedown">
                                        <a href="javascript:;" data-role="votedown" data-id="{{ post.id }}" class="vote"><i class="material-icons">thumb_down</i></a>
                                        <span class="scoredown">{{ post.downvotes }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("js/vote.js") }}"></script>
{% endblock %}